.HeaderBarBG {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.HeaderBarBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--boxBGWdt);
    padding: 30px
}
.HeaderBarLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.HeaderBarLogo button {
    display: none;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}
.HeaderBarLogo button > img{
    width: 20px;
    height: 16px;
    margin-right: 10px;
}
.HeaderBarLogo img {
    width: 40px;
    height: 40px;
}
.HeaderBarLogo p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: var(--Font-color1);
    margin: 0 0 0 13px;
}
.HeaderBarLogo span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: var(--Font-color2);
    margin: 0 0 0 24px;
}
.HeaderBarLiks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 650px;
}
.HeaderBarLiks a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: var(--Font-color1);
    text-decoration: none;
}
.HeaderBarLiks div:nth-child(1) a:nth-child(1) {
    margin: 0 32px 0 0;
}
.HeaderBarLiks div:nth-child(1) a:nth-child(2) {
    margin: 0 32px 0 0;
}
.HeaderBarLiks button:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    width: 141px;
    height: 40px;
    background: #FFEBEE;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FF4869;
    border: none;
    margin: 0 32px 0 0;
}
.HeaderBarLiks button:nth-child(2) img {
    width: 17.5px;
    height: 17px;
    margin-right: 11.25px;
}
.HeaderBarLiks button:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: var(--Font-color1);
}
.HeaderBarLiks button:nth-child(3) button:nth-child(1) img:nth-child(1) {
    border: none;
}
.HeaderBarLiks button:nth-child(3) img:nth-child(1) {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.HeaderBarLiks button:nth-child(3) img:nth-child(2) {
    width: 12px;
    height: 8px;
}

@media(max-width: 1160px) {
    .HeaderBarLiks {
        width: auto;
    }
}

@media(max-width: 900px) {
    .HeaderBarLogo img {
        width: 34px;
        height: 34px;
    }
    .HeaderBarLogo p {
        font-size: 14px;
        margin: 0 0 0 10px;
    }
    .HeaderBarLogo span {
        font-size: 14px;
        margin: 0 0 0 20px;
    }
    .HeaderBarLiks a {
        font-size: 14px;
    }
    .HeaderBarLiks button:nth-child(2) {
        padding: 8px 12px;
        width: 141px;
        height: 40px;
        font-size: 10px;
        margin: 0 32px 0 0;
        width: 120px;
        height: 34px;
    }
    .HeaderBarLiks button:nth-child(3) img:nth-child(1) {
        width: 34px;
        height: 34px;
    }
    .HeaderBarLiks button:nth-child(3) img:nth-child(2) {
        width: 10px;
        height: 6px;
    }
}

@media(max-width: 768px) {
    .HeaderBarLiks a {
        display: none;
    }
    .HeaderBarLiks button:nth-child(3) {
        display: none;
    }
    .HeaderBarLogo img {
        width: 40px;
        height: 40px;
    }
    .HeaderBarLogo p {
        font-size: 20px;
        margin: 0 0 0 13px;
    }
    .HeaderBarLogo span {
        font-size: 20px;
        margin: 0 0 0 24px;
    }
    .HeaderBarLiks button:nth-child(2) {
        padding: 8px 12px;
        width: 141px;
        height: 40px;
        font-size: 14px;
        margin: 0 0px 0 0;
    }
    .HeaderBarLiks button:nth-child(2) img {
        width: 17.5px;
        height: 17px;
        margin-right: 11.25px;
    }
    .HeaderBarLogo button {
        display: block;
    }
}
@media(max-width: 650px) {
    .HeaderBarLogo p {
        display: none;
    }
    .HeaderBarLogo span {
        display: none;
    }
    .HeaderBarBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: var(--boxBGWdt);
        padding: 30px 20px
    }
}